
<div class="" >



    <table class="table">
        <tr>
          <td>
            <mat-form-field>
              <mat-select id="matchId" name="matchId" placeholder="Match" [(ngModel)]="matchId" #matchIds="ngModel"  required>
                <mat-option *ngFor="let match of allMatches" [value]="match.matchId">{{match.description}}</mat-option>
              </mat-select>
            </mat-form-field>
            </td>
            <td><br></td>
         <td>
          <button mat-raised-button [disabled]="matchIds.invalid" (click)="getMatch()" color="primary" >Get</button>
        
         </td>
        </tr>
      </table>

    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>

    <mat-table [dataSource]="matchEntry" matSort>
  
      <!-- Match Decription Column -->
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Match Description </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.match.description}} </mat-cell>
      </ng-container>
  
      <!-- userName Column -->
      <ng-container matColumnDef="userName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> User Name </mat-header-cell>
        <mat-cell *matCellDef="let row"> <b>{{row.user.userName}}</b></mat-cell>
      </ng-container>
  
      <!-- matchRate  Column -->
      <ng-container matColumnDef="matchRate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Match Rate </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.matchRate}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="entryType">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Entry Type </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.entryType}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="betAmount">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Entry Type </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.betAmount}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="betTeam">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Bet Team  </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.betTeam}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="matchAmount">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Match Amount  </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.matchAmount}} </mat-cell>
              </ng-container>
  


     
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      
      
      
      </mat-row>
    </mat-table>
  
    <mat-paginator [pageSizeOptions]="[1, 5, 10, 100]"></mat-paginator>
  </div>